<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OUID</title>
  </head>
  
  <body>

    <p> welcome back... <%= user.name %>! </p>
    <p> wanna make your account more personal?
    <br>    
    upload/ change profile pic below!</p> 
    <form>
        <img src="upload2/avatar.png" width="100" height="100" />
        <br>
        <tr><td><input type="file" name="image" ></td></tr>
        <tr><td><input name="Submit" type="submit" value="choose image"></td></tr>
    </form>
    <br>
    <a href="/users/logout">logout</a>

    <h1>nice of you to join us!</h1>
    <h2>here you have access to information on marijuana such as strains, races, and their effects :)))</h2>
    <form>
        search:<br>
        <tr><td><input type="text" name="keyword" onkeyup="callREST()"></td></tr>
        <tr><td><input name="Submit" type="submit" value="search ouid"></td></tr><br>
    </form>
    <div id="response"></div>

    <script>
        function callREST() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("response").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "strainapi.evanbusse.com/yUd2BuW/strains/search/name/NAME", true);
            xhttp.send();
            xhttp.post();
        }
    </script>

    <style>
        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        form {
            text-align: right;
            padding-right: 1em;
        }
        div {
            text-align: right;
            padding-right: 1em;
        }
        a {
            font-size: xx-large;
            color: whitesmoke;
            position: absolute;
            bottom: 7%;
        }
        p {
            padding-right: 1em;
            text-align: right;
        }
        h1 {
            text-align: center;
            font-size: 40px;
        }
        h2 {
            text-align: center;
            font-size: xx-large;
        }
        .footer {
            width: 100%;
            background-color: yellow;
            color: black;
            text-align: right;
        }
        .header {
            position: relative;
            width: 100%;
            left: 0;
            bottom: 0;
            background-color:yellow;
            color: black;
            text-align: center;
        }
        .em {
            text-align: center;
        }
    </style>
    <div class="footer">
        <p>OUID | COVID-19 EDITION 2021</p>
    </div>

    </body>

</html>
 
