<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OUID</title>
  </head>
  
  <body>

    <p> welcome back... <%= user.name %>! </p>
    <p> wanna make your account more personal?
    <br>    
    upload/ change profile pic below!</p>       
    <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
        <div>
            <label>select a pic</label>
            <input type="file" name="profile_pic" value="choose pic"/>
            <input type="submit" name="btn_upload_profile_pic" value="upload!" />
        </div>
    </form>
    <br>
    <a href="/users/logout">logout</a>

    <h1>nice of you to join us!</h1>
    <h2>here you have access to information on marijuana such as strains, races, and their effects :)))</h2>
    <style>
        div {
            text-align: right;
            padding-right: 1em;
        }
        a {
            font-size: medium;
            color: whitesmoke;
            position: absolute;
            bottom: 7%;
        }
        p {
            padding-right: 1em;
            text-align: right;
        }
        h1 {
            text-align: center;
            font-size: 40px;
        }
        h2 {
            text-align: center;
            font-size: xx-large;
        }
        .footer {
            width: 100%;
            background-color: yellow;
            color: black;
            text-align: right;
        }
        .header {
            position: relative;
            width: 100%;
            left: 0;
            bottom: 0;
            background-color:yellow;
            color: black;
            text-align: center;
        }
        .em {
            text-align: center;
        }
    </style>
    <div class="footer">
        <p>OUID | COVID-19 EDITION 2021</p>
    </div>

    </body>

</html>
 
