<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OUID</title>
    <link rel = "icon" href =  
"https://www.questdiagnostics.com/dms/Images/BodyCopy/Specific_segment_or_topic/employer_solutions/Marijuana-images/marijuana-drug-testing.jpg" 
        type = "image/x-icon">
  </head>
  
  <body>

    <div class="header">
      <u>YOU MUST BE 21+ TO ACCESS THIS APPLICATION</u>
    </div>

    <div class="footer">
      <u>OUID | COVID-19 EDITION | 2021</u>
    </div>

    <style>

      body {
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        color: whitesmoke;
        background-image: url("https://media.self.com/photos/5e96135a2c928600095ebd3c/master/pass/weed_marijuana.jpeg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-width: 1024px;
        width: 100%;
        height: auto;
      }
      .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color:yellow;
        color: black;
        text-align: right;
      }
      .header {
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color:yellow;
        color: black;
        text-align: center;
      }
    </style>
    <%- body %>

  </body>
  
</html>
