<h1> login </h1>
<form action="/users/login" method="POST">
<div>
<label for="email">email</label>
<input
type="email"
name="email"
placeholder="enter email"
/>
</div>
<div>
    <label for="password">password</label>
    <input
      type="password"
      name="password"
      placeholder="enter password"
    />
</div>
<button type="submit" class="btn btn-primary btn-block">login</button>  
</form>