<h1>login</h1>
<style>
  div {
    margin-left: 44%;
    width: 100px;
    height: 30px;
  }
  h1 {
    margin-top: 10%;
    text-align: center;
    font-size: xx-large;
  }
  button {
    margin-left: 48%;
    background-color: darkgreen;
    color: whitesmoke;
    height: 50px;
    width: 100px;
  }
</style>
<form action="/users/login" method="POST">
<div>
<label for="email">email</label>
<input
type="email"
name="email"
placeholder="enter email"
/>
</div>
<br>
<div>
    <label for="password">password</label>
    <input
      type="password"
      name="password"
      placeholder="enter password"
    />
</div>
<br>
<button type="submit" class="btn btn-primary btn-block">login</button>  
</form>