<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OUID</title>
  </head>

  <body>

      <h1>sign up below</h1>
      <style>
        h1 {
          margin-top: 5%;
          text-align: center;
          font-size: xx-large;
        }
        div {
          margin-left: 45%;
          width: 200px;
        }
        
        button {
          margin-left: 47%;
          background-color: darkgreen;
          color: whitesmoke;
          height: 50px;
          width: 100px;
        }
        p {
          text-align: center;
        }
        a {
          color: whitesmoke;
        }
        .footer {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: yellow;
          color: black;
        }
      </style>
      <form action="/users/register" method="POST">
      <div>
          <label for="name">username</label>
          <input
            type="name"
            name="name"
            placeholder="enter username"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
      </div>
      <br>
      <div>
          <label for="email">email</label>
          <input
            type="email"
            name="email"
            placeholder="enter email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
      </div>
      <br>
      <div >
          <label for="password">password</label>
          <input
            type="password"
            name="password"
            placeholder="enter password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
      </div>
      <br>
      <div >
          <label for="password2">reenter password</label>
          <input
            type="password"
            name="password2"
            placeholder="reenter password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-primary btn-block">
          create account
      </button>
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p > already have an account? <a href="/users/login"> login here </a></p>

  </body>

</html>      