body {
  margin-top: 10%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: darkgreen;
  background-image: url(https://www.history.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc5MDg3MjM0OTUwNDcz/medical-marijuana.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  font-size: x-small;
  margin-left: 5%;
}
a {
  font-size: x-small;
  margin-left: 5%;
}
h1 {
  text-align: center;
}
h2 { 
  font-size: xx-large;
  text-align: center;
}
.btn {
  background-color: darkgreen;
  height: 50px;
  width: 100px;
  margin-left: 47%;
  margin-right: 53%;
}